BeautifulSoup==3.2.1
certifi==2020.4.5.1
chardet==3.0.4
cssselect==0.9.1
Flask==0.10.1
gunicorn==19.1.1
idna==2.9
itsdangerous==0.24
Jinja2==2.7.3
lxml==3.4.0
MarkupSafe==0.23
newsapi-python==0.2.6
newspaper==0.0.8
nltk==3.0.0
Pillow==2.6.1
requests==2.4.3
six==1.8.0
stevedore==1.0.0
urllib3==1.25.9
virtualenv==1.11.6
virtualenv-clone==0.2.5
virtualenvwrapper==4.3.1
Werkzeug==0.15.3
