.article {
    border: solid;
    padding: 30px;
    width: 90%;
    background-color: antiquewhite;
    margin: auto;
}

.articlesWrapper {
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 20px;
}

#date {
    margin: auto;
}

#dateWrapper {
    text-align: center;
}

#titleWrapper {
    margin: auto;
    text-align: center;
}

.cluster {
    margin: auto;
    width: 90%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cluster0 {
    background-color: lightblue;
}

.cluster1 {
    background-color: lightsalmon;
}

.cluster2 {
    background-color: lightseagreen;
}

.cluster3 {
    background-color: lightpink;
}

#graphWrapper {
    padding: 20px;
}