/*#chartMessageWrapper {*/
/*    margin: auto;*/
/*    font-size: 30px;*/
/*}*/

#date {
    margin: auto;
    border-radius: 5px;
    box-shadow: none;
    background-color: white;
    border-style: solid;
    border-color: lightslategray;
    padding: .2em;
    text-align: center;
}

/*.form-control {*/
/*    display: initial;*/
/*}*/

/*#dateAndButton {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: center;*/
/*}*/

/*#dateButton {*/
/*    margin-top: 15px;*/
/*    margin-right: auto;*/
/*    margin-left: auto;*/
/*}*/

.input-group-append {
    border: white !important;
    box-shadow: none !important;
    color: white !important;
    background-color: white !important;
}

.header {
    position: relative;
    padding-bottom: 3em;
    margin-bottom: 3em;
    padding-top: 1em;
}

#particles-js {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -10;
    top: 0;
    left: 0;
    background-color: cornflowerblue;
}

/*.article {*/
/*    padding: 10px;*/
/*    width: 90%;*/
/*    background-color: antiquewhite;*/
/*    border-style: solid;*/
/*    border-color: white;*/
/*    border-radius:20px;*/
/*    margin: 10px;*/
/*}*/

.sourceDate {
    background: lightsteelblue;
    display: inline-block;
    border-radius: 10px;
    padding: 0px 10px;
}

#mainWindow {
    text-align: center;
}

.clusterSize {
    background: lightyellow;
    display: inline-block;
    border-radius: 10px;
    padding: 0px 10px;
    margin: 10px;
    border: goldenrod;
    border-style: solid;
    color: goldenrod;
}

/*.articlesWrapper {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    width: 90%;*/
/*    padding: 20px;*/
/*}*/

.sidePanel {
    /*background-color:lightsalmon;*/
    border-radius: 10px;
    border-style: solid;
    border-color: white;
    /*display:inline-table;*/
    text-align: center;
}

h1 {
    font-family: 'Helvetica', sans-serif;
    font-size: xxx-large;
    font-weight: bold;
    color: white;
    text-shadow: 0px 0px 8px darkslategray;
}

h2 {
    font-family: 'Helvetica', sans-serif;
    font-size: 1.2em;
}

p {
    font-family: 'Helvetica', sans-serif;
}

h4 {
    font-family: 'Helvetica', sans-serif;
    text-align: center;
    color: black;
    font-size: 1.1rem;
}

#date {
    margin: auto;
}

#dateWrapper {
    text-align: center;
}

#titleWrapper {
    margin: auto;
    text-align: center;
}

.card {
    /*text-align: center;*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*border-style: solid;*/
    /*border-color: white;*/
    /*border-radius:20px;*/
    /*margin-bottom: 10px;*/
    margin-left: 10px;
    margin-right: 10px;
}

.btn:hover {
    text-decoration: none;
}

.btn {
    text-decoration: none;
}

/*.btn:focus, .btn:active {*/
/*    outline: none;*/
/*    box-shadow: none;*/
/*}*/

.cluster, h3 {
    font-family: 'Helvetica', sans-serif;
    text-decoration: none;
    font-size: 1em;
}

.cluster, a {
    font-family: 'Helvetica', sans-serif;
    text-decoration: none;
    font-size: 20px;
}

.card-header > .btn {
    display:contents;
}

#graphWrapper {
    margin-top: 20px;
    /*display: flex;*/
    /*flex-direction: row;*/
}

.message {
    /*background-color: white;*/
    /*border-radius:20px;*/
    /*padding: 10px;*/
    /*margin: auto;*/
}

#sources {
    display: flex;
    flex-direction: column;
}

.sourceToggle {
    /*background-color: lightgreen;*/
    border-width:0;
    padding: 10px;
    margin: 5px;
    border-radius:5px;
}

.sourceToggle:focus {
    outline-width: 0
}

.slidecontainer {
    width: 100%; /* Width of the outside container */
}

.alert {
    text-align: center;
}

.sticky-top {
    top: 5em;
}

.btn.btn-sm {
    padding: .5rem 1rem;
}

@media screen and (max-width: 768px) {
    .sticky-top {
        position: static !important;
    }
}

.viz {
    padding-top: 1em;
}

.container {
    min-width: 90%;
}

.modal-footer {
    justify-content: center;
}

.tab-pane {
    background-color: white;
}